#controls {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
    width: 270px;
}

#volume_control {
    display: flex;
}

.slider {
  -webkit-appearance: none;
  width: 200px;
  height: 16px;
  background: linear-gradient(to right, #000, rgb(78,68,48));
  border-radius: 8px;
  border: 3px black solid;
}
rgb(98, 88, 68);

/* for chrome/safari */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #000;
  cursor: pointer;
  border: 3px solid rgb(98, 88, 68);
  border-radius: 8px;
}

/* for firefox */
.slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #000;
  cursor: pointer;
border: 3px solid rgb(98, 88, 68);
  border-radius: 8px;
}

.disableselect {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Chrome/Safari/Opera */
        -khtml-user-select: none;    /* Konqueror */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;       /* Internet Explorer/Edge*/
        user-select: none;        
}

html, body {
  margin: 0;
  padding: 0
}
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background-color: #000000;
}
#app {
  display: flex;
  flex-direction: row;
  height: 100vh;
  max-width: 100vw;
}
.music-player + .music-player {
  margin-left: 1em;
}
.music-player {
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(100deg, rgb(21, 19, 15), 15%, rgb(32, 29, 22), 85%, rgb(21, 19, 15));
  border-color: rgb(73, 65, 51);
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
/*  padding: .3em;*/
  max-width: 100%;
}
.player {
  margin-bottom: .3em;
}
.current-track,
    .current-ambience,
.track-list__track {
  font-family: sans-serif;
  color: #00ff00;
}
.current-track,
    .current-ambience {
  background-color: #000000;
  border: #494b68 2px solid;
  border-style: inset;
  overflow: hidden;
  padding: .3em .5em;
/*      --offset: 50%;
  --move-initial: calc(25% + var(--offset));
  --move-final: calc(-115% + var(--offset));
*/
}
.current-track__text,
    .current-ambience__text {
  animation: marquee 10s linear infinite;
  display: inline-block;
  position: relative;
  width: 100%;
/*      transform: translate3d(var(--move-initial), 0, 0); */
  will-change: transform;
}
.current-track:hover .current-track__text {
  animation-play-state: paused
}
.button {
  background-color: rgb(188,205,213);
  border: rgb(165, 179, 185) 3px solid;
  border-style: outset;
  color: rgb(127, 138, 143);
  font-variant: small-caps;
}
.button:active {
  border-style: inset;
}
.track-list-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}
.track-list {
  background-color: #000000;
  border: #494b68 2px solid;
  border-style: inset;
  flex: 1;
  list-style: decimal-leading-zero;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: .3em 2.75em;
}
.track-list__track {
  white-space: nowrap;
}
@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}
/*
                        _______
                       /       \
                      .==.    .==.
                     ((  ))==((  ))
                    / "=="    "=="\
                   /____|| || ||___\
       ________     ____    ________  ___    ___
       |  ___  \   /    \   |  ___  \ |  |  /  /
       |  |  \  \ /  /\  \  |  |  \  \|  |_/  /
       |  |   )  /  /__\  \ |  |__/  /|  ___  \
       |  |__/  /  ______  \|  ____  \|  |  \  \
_______|_______/__/ ____ \__\__|___\__\__|___\__\____
|  ___  \ |  ____/ /    \   |  ___  \ |  ____|  ___  \
|  |  \  \|  |___ /  /\  \  |  |  \  \|  |___|  |  \  \
|  |__/  /|  ____/  /__\  \ |  |   )  |  ____|  |__/  /
|  ____  \|  |__/  ______  \|  |__/  /|  |___|  ____  \
|__|   \__\____/__/      \__\_______/ |______|__|   \__\
                https://darkreader.org
*/

/*! Dark reader generated CSS | Licensed under MIT https://github.com/darkreader/darkreader/blob/main/LICENSE */

/* User-Agent Style */
html {
    background-color: #110f0c !important;
}
html {
    color-scheme: dark !important;
}
html, body {
    background-color: #110f0c;
}
html, body {
    border-color: #494132;
    color: #9b8a6c;
}
a {
    color: #5a503e;
}
table {
    border-color: #3c362a;
}
::placeholder {
    color: #746750;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #27221b !important;
    color: #9b8a6c !important;
}
::-webkit-scrollbar {
    background-color: #171510;
    color: #6f634d;
}
::-webkit-scrollbar-thumb {
    background-color: #312c22;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #3e382b;
}
::-webkit-scrollbar-thumb:active {
    background-color: #342e24;
}
::-webkit-scrollbar-corner {
    background-color: #110f0c;
}
* {
    scrollbar-color: #312c22 #171510;
}
::selection {
    background-color: #2e2920 !important;
    color: #9b8a6c !important;
}
::-moz-selection {
    background-color: #2e2920 !important;
    color: #9b8a6c !important;
}

/* Text Style */
*:not(pre, pre *, code, .far, .fa, .glyphicon, [class*="vjs-"], .fab, .fa-github, .fas, .material-icons, .icofont, .typcn, mu, [class*="mu-"], .glyphicon, .icon) {
  font-family: monospace !important;
}

/* Invert Style */
.jfk-bubble.gtx-bubble, .captcheck_answer_label > input + img, span#closed_text > img[src^="https://www.gstatic.com/images/branding/googlelogo"], span[data-href^="https://www.hcaptcha.com/"] > #icon, #bit-notification-bar-iframe, ::-webkit-calendar-picker-indicator {
    filter: invert(100%) hue-rotate(180deg) brightness(50%) contrast(90%) sepia(100%) !important;
}

/* Variables Style */
:root {
   --darkreader-neutral-background: #0e0c0a;
   --darkreader-neutral-text: #908064;
   --darkreader-selection-background: #2e2920;
   --darkreader-selection-text: #9b8a6c;
}

/* Modified CSS */
[data-darkreader-inline-bgcolor] {
    background-color: var(--darkreader-bg--darkreader-inline-bgcolor) !important;
}
[data-darkreader-inline-bgimage] {
    background-image: var(--darkreader-inline-bgimage) !important;
}
[data-darkreader-inline-border] {
    border-color: var(--darkreader-border--darkreader-inline-border) !important;
}
[data-darkreader-inline-border-bottom] {
    border-bottom-color: var(--darkreader-border--darkreader-inline-border-bottom) !important;
}
[data-darkreader-inline-border-left] {
    border-left-color: var(--darkreader-border--darkreader-inline-border-left) !important;
}
[data-darkreader-inline-border-right] {
    border-right-color: var(--darkreader-border--darkreader-inline-border-right) !important;
}
[data-darkreader-inline-border-top] {
    border-top-color: var(--darkreader-border--darkreader-inline-border-top) !important;
}
[data-darkreader-inline-boxshadow] {
    box-shadow: var(--darkreader-bg--darkreader-inline-boxshadow) !important;
}
[data-darkreader-inline-color] {
    color: var(--darkreader-text--darkreader-inline-color) !important;
}
[data-darkreader-inline-outline] {
    outline-color: var(--darkreader-border--darkreader-inline-outline) !important;
}
:root {
    --darkreader-bg--darkreader-neutral-background: #070605;
    --darkreader-text--darkreader-neutral-text: #635845;
    --darkreader-selection-background: #2e2920;
    --darkreader-selection-text: #9b8a6c;
}
html {
    background-color: rgb(8, 7, 6) !important;
}
html,
body {
    background-color: rgb(8, 7, 6);
}
html,
body {
    border-color: rgb(76, 67, 52);
    color: rgb(98, 88, 68);
}
a {
    color: rgb(121, 107, 84);
}
table {
    border-color: rgb(78, 69, 54);
}
::placeholder {
    color: rgb(110, 98, 77);
}
input:autofill,
textarea:autofill,
select:autofill {
    background-color: rgb(19, 17, 13) !important;
    color: rgb(98, 88, 68) !important;
}
::-webkit-scrollbar {
    background-color: rgb(11, 10, 8);
    color: rgb(112, 100, 78);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(24, 21, 16);
}
::-webkit-scrollbar-corner {
    background-color: rgb(8, 7, 6);
}
::selection {
    background-color: rgb(22, 20, 16) !important;
    color: rgb(98, 88, 68) !important;
}
::selection {
    background-color: rgb(22, 20, 16) !important;
    color: rgb(98, 88, 68) !important;
}
.vimvixen-hint {
    background-color: rgb(26, 23, 18) !important;
    border-color: rgb(69, 61, 48) !important;
    color: rgb(99, 88, 69) !important;
}
#edge-translate-panel-body,
.MuiTypography-body1,
.nfe-quote-text {
    color: var(--darkreader-text--darkreader-neutral-text) !important;
}
gr-main-header {
    background-color: rgb(16, 14, 11) !important;
}
.tou-z65h9k,
.tou-mignzq,
.tou-1b6i2ox,
.tou-lnqlqk {
    background-color: var(--darkreader-bg--darkreader-neutral-background) !important;
}
.tou-75mvi {
    background-color: rgb(8, 7, 6) !important;
}
.tou-ta9e87,
.tou-1w3fhi0,
.tou-1b8t2us,
.tou-py7lfi,
.tou-1lpmd9d,
.tou-1frrtv8,
.tou-17ezmgn {
    background-color: rgb(3, 3, 2) !important;
}
.tou-uknfeu {
    background-color: rgb(7, 7, 5) !important;
}
.tou-6i3zyv {
    background-color: rgb(23, 21, 16) !important;
}
body {
    background-color: rgb(0, 0, 0);
}
.current-track,
.current-ambience,
.track-list__track {
    color: rgb(106, 94, 73);
}
.current-track,
.current-ambience {
    background-color: rgb(0, 0, 0);
    border-color: rgb(70, 62, 49);
}
.button {
    background-color: rgb(40, 36, 28);
    border-color: rgb(51, 45, 35);
    color: rgb(100, 89, 70);
    width: 50px;
    height: 50px;
    font-size: 40px;
    padding: 0px;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.track-list {
    background-color: rgb(0, 0, 0);
    border-color: rgb(70, 62, 49);
    list-style-image: none;
}

/* Override Style */
.vimvixen-hint {
    background-color: #363026 !important;
    border-color: #70644e !important;
    color: #9c8b6c !important;
}
::placeholder {
    opacity: 0.5 !important;
}
#edge-translate-panel-body,
.MuiTypography-body1,
.nfe-quote-text {
    color: var(--darkreader-neutral-text) !important;
}
gr-main-header {
    background-color: #201d16 !important;
}
.tou-z65h9k,
.tou-mignzq,
.tou-1b6i2ox,
.tou-lnqlqk {
    background-color: var(--darkreader-neutral-background) !important;
}
.tou-75mvi {
    background-color: #110f0c !important;
}
.tou-ta9e87,
.tou-1w3fhi0,
.tou-1b8t2us,
.tou-py7lfi,
.tou-1lpmd9d,
.tou-1frrtv8,
.tou-17ezmgn {
    background-color: #070605 !important;
}
.tou-uknfeu {
    background-color: #0f0e0b !important;
}
.tou-6i3zyv {
    background-color: #312b22 !important;
}
embed[type="application/pdf"] { filter: invert(100%) contrast(90%); }
